.task {
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1.4rem;
  p {
    margin: 0.2rem 0;
  }
  .details {
  }
  .owner-details {
    padding-top: 0.2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    button {
      border: 1px solid black;
      background: none;
      color: black;
    }
    button:hover {
      background: grey;
      color: white;
    }
    button:active {
      background: black;
      color: white;
    }
  }
}
